.principal{
    display: flex;
    justify-content: center;
}
img{
    width: 450px;
    height: 244px;
    border: solid 4px;
}
img[alt="Canadá"]{
    border-color: black;
}
img[alt="Japão"]{
    border-color: green;
    opacity: 0.7;
}
h1{
    text-align: center;
}